<!DOCTYPE html>
<html lang="br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lembretes</title>
    <script
      src="https://kit.fontawesome.com/cfe644f4cb.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- <--topo da pagina -->
    <div
      class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"
    >
      <div class="container">
        <h1 class="display-3">Lembretes</h1>
        <p class="lead">adicione lembretes a sua lista de Tarefas</p>

        <div id="error"></div>

        <br />

        <!--botoes e funcionalidades-->
        <div id="buttons">
         
          <a href="/limpar" class="btn btn-warning">
            Limpar Lista
            <i class="fa-sharp fa-solid fa-list"></i>
          </a>

        </div>
      </div>
    </div>
    <br />
    <!-- painel de lembretes -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="novo-lembrete">
            <h3>
              <i class="fa-sharp fa-solid fa-square-plus"></i>
              Novo Lembrete
            </h3>
            <div id="form">
              <% if (lembrete == null) { %>
              <form action="/create" method="post">
                <input
                  type="text"
                  name="lembrete"
                  id="lembrete"
                  placeholder="Insira um Lembrete"
                  
                />
                <input 
                  type= "datetime-local"
                  name="data"
                  id="data"
                  

                />
              
                <button  type="submit" class="btn btn-primary" id="add_button">
                  Adicionar
                  <i class="fa-sharp fa-solid fa-plus"></i>
                </button>

                <br />
                <br />
                <form>
                  <div id="=lembreteConcluido">

                    <h3>
                      <i class="fa-sharp fa-solid fa-square-check"></i>
                      Lembretes Concluídos
                    </h3>
                  </div>


                </form>
                
              </form>
              <% } else { %>
              <form action="/updateOne/<%= lembrete._id %>" method="post">
                <input
                  type="text"
                  name="lembrete"
                  id="lembrete"
                  placeholder="Atualizar Lembrete"
                  value="<%= lembrete.lembrete %>"
                  
                />
                <button type="submit" class="btn btn-primary" id="add_button">
                  Atualizar
                  <i class="fa-sharp fa-solid fa-plus"></i>
                </button>
                
              </form>
              <% } %>
              
            </div>
            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div id="lembretes">
            <h3>
              <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
              Lembretes Pendentes
            </h3>
              <ul>
                <% lembretesList.sort((a, b) => a.data - b.data).forEach((lembrete) => { %>
                <li>
                  <div>
                    
                    <h4><%= lembrete.lembrete %></h4>
                    <p><%= lembrete.data %></p>
                  </div>
                 
                  <a href="/delete/<%= lembrete._id %>" class="btn btn-danger" id="btnClear">
                    <i data-fa-symbol="delete" class="fa-solid fa-trash fa-fw"></i>
                  </a>
                  <a href="/getById/<%= lembrete._id %>" class="btn btn-info" id="btnEdit">
                    <i class="fa-sharp fa-solid fa-pen"></i>
                  </a>
                    
                </li>
                <br>
                <% }); %>
              </ul>
            <br />
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
